<!DOCTYPE html>
<html lang = "pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name = "viewport" content ="widht=device-widht, initial-scale=1.0">
<link rel = "stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<meta name="author" content="CaioCipriano"/>
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<title>Caroline Designer</title>
</head>
<body>

	<header th:fragment = "cabecalho">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">
	  <img src="/img/minhalogo.png" class="logo-nav">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Destaques</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Preços</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#">Desativado</a>
	      </li>
	    </ul>
	  </div>
</nav>
	<!--  <nav class= "nav navbar-expand-lg navbar-dark" style = "background-color:#FFB6C1">
			<a class="navbar-brand" th:href="@{/}">
			<img src="img/mulher.jpg" class="circular" height="100px"></a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
			 <span class="navbar-toggler-icon"></span>
			</button>
			
			<div id="navMobile" class="collapse navbar-collapse justify-content-end" >
				<a id=color class="btn-nav nav-item nav-link" th:href="@{/}"><i class="fas fa-home"></i> Página Inicial</a>
				<a id=color class="btn-nav nav-item nav-link" th:href="@{/}"><i class="fas fa-user"></i> Login</a>
				<a id=color class="btn-nav nav-item nav-link" th:href="@{/agendamento}"><i class="fas fa-edit"></i> Agendar</a>
				
			</div>
	</nav>-->
	
	
	
	
	
	</header>
	
	
	
	
	<footer th:fragment = "rodape">
			<div class="rodape">
				<span>Todos Direitos Reservados - 2022 &copy; Caio Cipriano</span>
			</div>
	</footer>
	

		
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/booststrap.min.js"></script>		
</body>

</html>