<!DOCTYPE html>
<html lang = "pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name = "viewport" content ="widht=device-widht, initial-scale=1.0">
<link rel = "stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<meta name="author" content="CaioCipriano"/>
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<title>Caroline Designer</title>
</head>
<body>
	
	<header th:fragment = "cabecalho">
	<nav class= "nav navbar-expand-lg navbar-dark" style = "background-color:#FFB6C1">
			<a class="navbar-brand" th:href="@{/}">
			<img src="/img/minhalogo.png" align="middle" height="100px"></a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
			 <span class="navbar-toggler-icon"></span>
			</button>
			
			<div id="navMobile" class="collapse navbar-collapse justify-content-end" >
				<a id=color class="btn-nav nav-item nav-link" th:href="@{/}"><i class="fas fa-home"></i> Página Inicial</a>
				<a id=color class="btn-nav nav-item nav-link" th:href="@{/agendamento}"><i class="fas fa-edit"></i> Agendar</a>
				
			</div>
	</nav>
	</header>
	
	
	
	
	<footer th:fragment = "rodape">
			<div class="rodape">
				<span>Todos Direitos Reservados - 2021 &copy; Caio Cipriano</span>
			</div>
	</footer>
	

		
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/booststrap.min.js"></script>		
</body>

</html>