<!DOCTYPE html>
<html lang = "pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name = "viewport" content ="widht=device-widht, initial-scale=1.0">
<link rel = "stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<meta name="author" content="CaioCipriano"/>
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<title>Caroline Designer</title>
</head>
<body>
	<div th:replace ="/fragments/fragmentos :: cabecalho"></div>
	
	
	
	<div th:replace = "/fragments/fragmentos :: rodape"></div>
	
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/booststrap.min.js"></script>
	
</body>
</html>